.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

form {
  padding: 1rem;
  border: 1px solid rgb(146, 146, 231);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1rem;
}

.button {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: rgb(146, 146, 231);
  color: black;
  border-radius: 0.7rem;
  text-align: center;
  cursor: pointer;
}
